[Bot Account]
; Basic credentials for bot to log into Discord
email:fa_bot@example.com
password:pass

[Config]
;; if commented out, channel_whitelist will default to []
;channel_whitelist:["107862710267453440","108326959460663296"]

;; if commented out, announcement_channels will default to []
;announcement_channels:["107862710267453440"]

; Use normal port numbers, app will add 1 for steamworks purposes.
; If there's not password, bot will not show it.
arma_server_ip:91.121.223.212
arma_server_port:2702
arma_server_password:freedom

arma_test_server_ip:91.121.223.212
arma_test_server_port:2722
arma_test_server_password:freedom

insurgency_server_ip:91.121.223.212
insurgency_server_port:27014

[Announcements]
;; Uncomment setting to enable it.
;; Available variables:
;; server_name, user_name, bot_name
;welcome_pm:Hi! Welcome to the {server_name}, {user_name}!
;    I am {bot_name}, and am a bot on this server.
;    If you want to know more about me, just send:
;    !help
;join_announcement:{user_name} joined this channel.
;leave_announcement:{user_name} left this channel.

[FAMDB]
application_id:1IijmSndIGJFPg6cw6xDl5PRe5AiGCHliyPzIgPc
API_key:A7n2hKn8S1qiBY3dmSduYl90kskHBi957KXuSqgs
